<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="logo" *ngIf="!isCollapsed">
    <img src="../../../assets/images/logo.png" alt="Logo" class="logo-img" />
    <h2  class="mt-2">CONNECT भारत</h2>
  </div>
  
  <nav>
    <ul>
      <li>
        <a routerLink="/helpline-centre">
          <span class="nav-item" *ngIf="!isCollapsed">ABOUT US</span>
        </a>
      </li>
      <li>
        <a routerLink="/updated-regulations">
          <span class="nav-item" *ngIf="!isCollapsed">PRIVACY POLICY</span>
        </a>
      </li>
      <li>
        <a routerLink="/legal-help">
          <span class="nav-item" *ngIf="!isCollapsed">TERMS OF USE 
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/legal-help">
          <span class="nav-item" *ngIf="!isCollapsed">FAQ
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/expert-consultation">
          <span class="nav-item" *ngIf="!isCollapsed">EXPERT CONSULTATION</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer"  *ngIf="!isCollapsed">
    <button class="login-btn" (click)="consumerLogout()">
      <span class="nav-item">LOGOUT</span>
    </button>
  </div>

  <div class="toggle-btn" (click)="toggleSidebar()">
    <span>{{ isCollapsed ? '→' : '←' }}</span>
  </div>
</div>
