<div class="min-h-screen bg-light mt-3">
  <!-- Background gradient -->
  <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-gradient-light opacity-50"></div>
  <app-consumer-right-sidebar>
  </app-consumer-right-sidebar>
  <div class="container  container-dash position-relative" style="margin-bottom: 85px;">
    <div class="text-center mb-4">
      <h1 class="display-5 fw-bold d-flex align-items-center justify-content-center">
        <span class="text-black py-1 rounded me-2" style="font-size: 5rem; line-height: 1;">{{complianceItems.length}}</span>
        <span class="text-dark text-start" style="font-size: 18px; line-height: 1.2; font-weight: 700;">
          MANDATORY COMPLIANCES <br> APPLICABLE ON YOUR SHOP
        </span>
      </h1>
    </div>

    <div class="row row-cols-3 g-4 mx-auto" style="max-width: 1200px;" style="margin-bottom: 50px;">
      <div class="col" *ngFor="let item of complianceItems">
        <div class="compliance-card" [style.background-color]="item.color">
          <div class="icon-box">
            <!-- <div class="icon">{{ item.icon }}</div> -->
            <div>
              <img [src]="getImageForItem(item.name)" alt="Shop Image" class="rounded shadow mt-1" width="50"
                height="50">
            </div>
          </div>
          <!-- <div  *ngIf="item.object" class="remaining-time">
              ({{ calculateRemaningDays(item.docObject?.createdAt, item.object?.license_duration) }} are Remaining)
            </div> -->
            <div *ngIf="item.docObject"  class="arrow-circle">
              <fa-icon 
                (click)="viewDocument(
                  item.docObject.name, 
                  item.docObject.url, 
                  item.docObject.format.toLowerCase(), 
                  item.docObject.multipleDoc, 
                  item.docObject.issuedDate,  
                  item.docObject.licenseDuration
                )" 
                class="fa-1xl text-[#0d6ef] cursor-pointer" 
                [icon]="faChevronRight">
              </fa-icon>
            </div>

        </div>
        <div class="card-title mt-3">{{ item.name }} </div>


     </div>
    </div>
    <div class="text-center mt-4 text-secondary">
      <p>CONNECT</p>
    </div>
  </div>
</div>