<div class="modal-header bg-secondary">
  <h6 class="modal-title text-white" id="modal-basic-title">Upload Docs</h6>

  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="border-top border-dark-subtle" *ngIf="!fboData.fboInfo.isBasicDocUploaded; else docs">
  <form [formGroup]="docForm" autocomplete="off" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <!--Foscos FORM Start-->
    <div class="modal-body">
      <div class="row">

        <div class="col-md-4">
          <label for="managerName" class="form-label">Shop Manager Name<sup>*</sup></label>
          <input type="text" id="managerName" class="form-control form-control-sm" placeholder="Shop Manager Name"
            formControlName="managerName" [ngClass]="{ 'is-invalid': submitted && docform['managerName'].errors }" />
          <div *ngIf="submitted && docform['managerName'].errors" class="invalid-feedback">
            <div *ngIf="docform['managerName'].errors['required']">Manager Name is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="address" class="form-label">Address<sup>*</sup></label>
          <input type="text" id="address" class="form-control form-control-sm" placeholder="Address"
            formControlName="address" [ngClass]="{ 'is-invalid': submitted && docform['address'].errors }" />
          <div *ngIf="submitted && docform['address'].errors" class="invalid-feedback">
            <div *ngIf="docform['address'].errors['required']">Address is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="pincode" class="form-label">Pincode<sup>*</sup></label>
          <input type="number" id="pincode" class="form-control form-control-sm" placeholder="Pincode"
            formControlName="pincode" [ngClass]="{ 'is-invalid': submitted && docform['pincode'].errors }" />
          <div *ngIf="submitted && docform['pincode'].errors" class="invalid-feedback">
            <div *ngIf="docform['pincode'].errors['required']">Pincode is required</div>
            <div *ngIf="docform['pincode'].errors['pattern']">Pincode is invalid</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="shopPhoto" class="form-label">Shop's Photo<sup>*</sup></label>
          <input type="file" (change)="onImageChangeFromFile($event, 'shopPhoto')"
            placeholder="Shop Photo(Name should be visible)" formControlName="shopPhoto"
            class="form-control form-control-sm" id="shopPhoto"
            [ngClass]="{ 'is-invalid': submitted && docform['shopPhoto'].errors }" />
          <div *ngIf="submitted && docform['shopPhoto'].errors" class="invalid-feedback">
            <div *ngIf="docform['shopPhoto'].errors['required']">Shop Photo is required.(jpeg or png)</div>
            <div *ngIf="docform['shopPhoto'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg
              files
              are allowed.</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="managerPhoto" class="form-label">Manager's Photo<sup>*</sup></label>
          <input type="file" placeholder="Owner Photo" (change)="onImageChangeFromFile($event, 'managerPhoto')"
            formControlName="managerPhoto" class="form-control form-control-sm" id="managerPhoto"
            [ngClass]="{ 'is-invalid': submitted && docform['managerPhoto'].errors }" />
          <div *ngIf="submitted && docform['managerPhoto'].errors" class="invalid-feedback">
            <div *ngIf="docform['managerPhoto'].errors['required']">Manager's Photo is required.(jpeg or png)</div>
            <div *ngIf="docform['managerPhoto'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg
              files
              are allowed.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="managerAadhar" class="form-label">Manager's Aadhar(Max two Files)<sup>*</sup></label>
          <input type="file" (change)="onImageChangeFromFile($event, 'aadharPhoto')" placeholder="Aadhar Photo"
            formControlName="managerAadhar" class="form-control form-control-sm" id="managerAadhar" multiple
            [ngClass]="{ 'is-invalid': submitted && docform['managerAadhar'].errors }" />
          <div *ngIf="submitted && docform['managerAadhar'].errors" class="invalid-feedback" style="display: block;">
            <div *ngIf="docform['managerAadhar'].errors['required']" style="display: block;">Manager's Aadhar is
              required.(jpeg or png)</div>
            <div *ngIf="docform['managerAadhar'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg
              files are allowed.</div>
            <div *ngIf="docform['managerAadhar'].errors['invalidFileNumber']">Max 2 files are allowed</div>
          </div>
        </div>


        <div formArrayName="licenses">
          <div *ngFor="let license of licenses.controls; let i = index" [formGroupName]="i" class="row align-items-end mb-3">
            
            <!-- License Dropdown -->
            <div class="col-md-3">
              <label class="form-label">Select License<sup>*</sup></label>
              <select 
                class="form-select form-control-sm"
                formControlName="licenseType"
                [ngClass]="{ 'is-invalid': submitted && license.get('licenseType')?.errors }">
                
                <option value="" disabled selected>Select License</option>
                <option *ngFor="let license of Licenses" [value]="license._id">
                  {{ license.name }}
                </option>
              </select>
              <div *ngIf="submitted && license.get('licenseType')?.errors" class="invalid-feedback">
                <div *ngIf="license.get('licenseType')?.errors?.['required']">Please select a license</div>
              </div>
            </div>
        
            <!-- Issued Date -->
            <div class="col-md-3">
              <label class="form-label">Issued Date<sup>*</sup></label>
              <input type="date" class="form-control form-control-sm"
                formControlName="createdDate"
                [ngClass]="{ 'is-invalid': submitted && license.get('createdDate')?.errors }" />
              <div *ngIf="submitted && license.get('createdDate')?.errors" class="invalid-feedback">
                <div *ngIf="license.get('createdDate')?.errors?.['required']">Issued Date is required</div>
              </div>
            </div>
        
            <!-- License Duration -->
            <div class="col-md-2">
              <label class="form-label">Number of Years<sup>*</sup></label>
              <input type="number" class="form-control form-control-sm"
                formControlName="licenseDuration"
                min="1"
                [ngClass]="{ 'is-invalid': submitted && license.get('licenseDuration')?.errors }" />
              <div *ngIf="submitted && license.get('licenseDuration')?.errors" class="invalid-feedback">
                <div *ngIf="license.get('licenseDuration')?.errors?.['required']">Number of Years is required</div>
                <div *ngIf="license.get('licenseDuration')?.errors?.['min']">Must be at least 1 year</div>
              </div>
            </div>
        
            <!-- Upload License -->
            <div class="col-md-3 ">
              <label class="form-label">Upload License<sup>*</sup></label>
              <input type="file" (change)="onLicenseFileChange($event, i)" 
                class="form-control form-control-sm" 
                [ngClass]="{ 'is-invalid': submitted && license.get('licensePhoto')?.errors }" />
              <div *ngIf="submitted && license.get('licensePhoto')?.errors" class="invalid-feedback">
                <div *ngIf="license.get('licensePhoto')?.errors?.['required']">License is required. (jpeg or png)</div>
              </div>
            </div>
        
            <!-- Remove License Button -->

            <div class="col-md-1 d-flex justify-content-end gap-2 align-items-center">
              <!-- Add Another License Button -->
              <button type="button" class="btn btn-sm btn-success d-flex align-items-center gap-1" (click)="addLicense()">
                <fa-icon [icon]="faPlus"></fa-icon>            
              </button>
            
              <!-- Remove License Button -->
              <button type="button" class="btn btn-sm btn-danger d-flex align-items-center gap-1" (click)="removeLicense(i)">
                <fa-icon [icon]="faMinus"></fa-icon><!-- Minus Icon -->
              </button>
            </div>
            
            
        
          </div>
        </div>
        
        
        <!-- Add License Button -->
        <!-- <div class="col-12 mt-3">
          <button type="button" class="btn btn-sm btn-primary" (click)="addLicense()">
            <i class="fa fa-plus"></i> Add Another License
          </button>
        </div> -->
        
        
      </div>
      <p style="font-size: 16px; margin: 0; padding: 0; margin-top: 15px;">(Note: only .jpeg, .jpg, and .png files are
        allowed) </p>
    </div>

    <!--Fostac FORM Ends-->
    <!--HRA FORM Start -->



    <div class="modal-footer text-left">
      <div>
      </div>
      <button type="submit" class="btn btn-sm btn-outline-dark">Upload</button>
    </div>
  </form>
</div>

<ng-template #docs>
  <div class="tab-content mx-3 my-3" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
      <div class="app-card app-card-orders-table shadow-sm mb-5">
        <div class="app-card-body">
          <div class="table-responsive">
            <table class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
              <thead>
                <th class="cell text-center">Manager Name</th>
                <th class="cell text-center">Address</th>
                <th class="cell text-center">Pincode</th>
                <th class="cell text-center">Manager Photo</th>
                <th class="cell text-center">Shop Photo</th>
                <th class="cell text-center">Manager Aadhar</th>
                <th class="cell text-center">Foscos License</th>

              </thead>
              <tbody>
                <tr>
                  <td class="cell text-center"><span class="truncate">{{fboData.fboInfo.boInfo.manager_name}}</span>
                  </td>
                  <td class="cell text-center"><span class="truncate">{{fboData.fboInfo.address}}</span></td>
                  <td class="cell text-center"><span class="truncate">{{fboData.fboInfo.pincode}}</span></td>
                  <td class="cell text-center"><span class="truncate">
                      <fa-icon class="fa-2xl text-success cursor-pointer"
                        (click)="viewDocument(managerPhotoObj.name, managerPhotoObj.src, managerPhotoObj.format.toLowerCase(), managerPhotoObj.multipleDoc)"
                        [icon]="faFile"></fa-icon>
                    </span></td>
                  <td class="cell text-center"><span class="truncate">
                      <fa-icon class="fa-2xl text-success cursor-pointer"
                        (click)="viewDocument(shopPhotoObj.name, shopPhotoObj.src, shopPhotoObj.format.toLowerCase(), shopPhotoObj.multipleDoc)"
                        [icon]="faFile"></fa-icon>
                    </span></td>
                  <td class="cell text-center"><span class="truncate">
                      <fa-icon class="fa-2xl text-success cursor-pointer"                                                                                                                               
                        (click)="viewDocument(managerAadharObj.name, managerAadharObj.src, managerAadharObj.format.toLowerCase(), managerAadharObj.multipleDoc)"
                        [icon]="faFile"></fa-icon>
                    </span></td>
                    <td class="cell text-center"><span class="truncate">
                      <fa-icon class="fa-2xl text-success cursor-pointer"
                        (click)="viewDocument(licenseObj.name, licenseObj.src, licenseObj.format.toLowerCase(), licenseObj.multipleDoc)"
                        [icon]="faFile"></fa-icon>
                    </span></td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-loading [show]="loading"></ngx-loading>