.pdf-viewer {
    width: 100%;
    height: 30rem;
}

.pdf-viewer iframe {
    width: 100%;
    height: 100%;
}

.download-icon {
    position: absolute;
    right: 60px;
    color: #ffffff;
    font-size: 22px;
}

.navigate-icon {
    position: absolute;
    right: 95px;
    color: #ffffff;
    font-size: 22px;   
}

.navigate-icon fa-icon:hover,
.download-icon fa-icon:hover {
    color: rgb(211, 211, 211);
}

.renew-text{
    font-size: 12px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    color: #d62828;
    font-weight: bold;
    font-size: 12px;
    animation: flash 1s infinite;
  }



  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .remaining-time{
    font-size: 12px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    align-items: flex-end;
    display: flex;
    justify-content: end;
    color:#1957a9;
    font-weight:bold
  }
