<div class="sidebar" [class.collapsed]="isCollapsed">
    <!-- <div class="logo" *ngIf="!isCollapsed">
      <img src="../../../assets/images/logo.png" alt="Logo" class="logo-img" />
      <h2  class="mt-2">CONNECT भारत</h2>
    </div>  -->
    
    <nav style="margin-top: 80px;">
      <ul>
        <li>
          <a (click)="navigateToOtherOptions()">
            <span class="nav-item" *ngIf="!isCollapsed">VOLUNTARY COMPILANCES</span>
          </a>
        </li>
        <li>
          <a >
            <span class="nav-item" *ngIf="!isCollapsed">OTHER</span>
          </a>
        </li>
        <li>
          <a  (click)="navigateTo('/export-resources')">
            <span class="nav-item" *ngIf="!isCollapsed">EXPERT RESOURCES</span>
          </a>
        </li>
        <li>
          <a  (click)="navigateTo('/export-consulation')">
            <span class="nav-item" *ngIf="!isCollapsed">REGULATORY CONSULTANT</span>
          </a>
        </li>
        <li>
          <a routerLink="/legal-help" (click)="navigateToConnectWithUs()">
            <span class="nav-item" *ngIf="!isCollapsed">CONNECT WITH US
            </span>
          </a>
        </li>
      </ul>
    </nav>
  

  
    <div class="toggle-btn"  (click)="toggleSidebar()">
        <span>{{ isCollapsed ? '←' : '→' }}</span>
    </div>
  </div>
  